main.container {
    height: 100vh;
    @include gridDisplay(2, 1rem);

    .landing {
        display: flex;
        flex-direction: column;
        gap: 3rem;
        margin: auto 0;


        &--name {
            text-shadow: 3px 3px 1px rgba(128, 128, 128, 0.5);
            font-family: $coolFont;

            span {
                text-shadow: none;
                @include textShadow();
                font-size: $h4;

                &.color {
                    @include textBackground(linear-gradient(to right, $jsYellow, $sassPink));
                }
            }
            
        }

        &--staticTitle {
            float: left;
            font-size: $h6;
            color: $primaryLight;
            overflow: hidden;
            font-weight: $regular;
        }

        &--text {
            position: relative;
            display: inline-block;

            @include textBackground(linear-gradient(to right, #AAFFA9, #11FFBD));
        }

        &--cursor {
            display: inline-block;
            background-color: $primaryLight;
            margin-left: 1rem;
            width: 0.3rem;
            animation: blink 1s infinite;

            &.--typing {
                animation: none;
            }
        }

        &__resume {
            font-size: $h5;

            &--button {
                position: relative;
                margin-left: 1rem;
                text-transform: uppercase;
                position: relative;
                color: $primaryLight;
                font-weight: bold;
                background: $primaryLight;
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;

                &:hover::after {
                    background: linear-gradient(to right, #9900F0, #CD113B, #FF7600, #FFA900);
                    background-clip: text;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    mask-image: linear-gradient(-75deg, rgba(0, 0, 0, 0) 20%, #000 50%, rgba(0, 0, 0, 0) 80%);
                    mask-size: 200%;
                    -webkit-mask-image: linear-gradient(-75deg, rgba(0, 0, 0, 0) 20%, #000 50%, rgba(0, 0, 0, 0) 80%);
                    -webkit-mask-size: 200%;
                    animation: shine 1.6s infinite;
                }

                &::after {
                    content: 'RESUME';
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    left: 0;
                    background: none;
                    background-clip: text;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }

                &::before {
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 1px;
                    bottom: 0;
                    background-color: $primaryLight;
                }
            }
        }
    }
}


//-> Animations

@keyframes shine {
    from {
        mask-position: 150%;
        -webkit-mask-position: 150%;
    }

    to {
        mask-position: -50%;
        -webkit-mask-position: -50%;
    }
}