.navbar {
    width: 100%;
    padding: 1rem 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $backgroundDark;

    &__icon {
        font-family: $coolFont;
        font-size: 3rem;
    }

    &__links {
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 2rem;
        font-family: $primaryFont;
        list-style-type: none;
        // todo breakpoint structures
    }
}