.btn {
    font-weight: $regular;
    font-size: 1.6rem;
    padding: 1.2rem 3.2rem;
    margin: 1rem;
    border-radius: 5rem;
    cursor: pointer;
    @include transition(all, 0.2s, ease-in-out);
}

.btn-glow:hover {
    box-shadow: rgba($primaryLight, 0.5) 0px 0px 4px 0px;
    @include transition(all, 0.2s, ease-in-out);
}

.card-bg {
    background: rgb(23, 23, 32);
    background: linear-gradient(344deg, rgb(23, 23, 32), $backgroundDark);
    box-shadow: 4px 6px 14px #00000036;
    border-radius: 3px;
    color: #F9F9F9;
    padding: 16px;
}

.v-center {
    display: flex;
    align-items: center;
    height: 100vh;
}

.text-indent{
    padding-left: 0;
    text-indent: 0;
    
    @include desktop{
        padding-left: 3ch;
        text-indent: -3ch;
    }
}

.emphasize-text{
    @include textBackground(linear-gradient(to bottom right, #00ebeb, #42f3a9));
}