//* Colors
//*: Main
$backgroundDark: #111;
$spacePurple: #2E0249;
$primaryLight: #efffef;
$secondaryLight: #e9f1e9;

//*: Technologies 
$jsYellow: #f7ff00;
$reactBlue: #61dafb;
$vueGreen: #42b883;
$svelteOrange: #ff3d00;
$angularRed: #dd0531;
$nodeGreen: #215732;
$denoWhite: #f2f2f2;
$pyBlue: #3776ab;
$csPurple: #9b4993;
$sassPink: #db36a4;

//* Breakpoints
$sm-mobile: 480px;
$mobile: 576px;
$tablet: 768px;
$desktop: 1200px;
$lg-desktop: 1720px;

//* Fonts
$primaryFont: 'Source Code Pro', monospace;
$secondaryFont: 'Ubuntu', 'Noto Emoji','Noto Sans Symbols', 'Noto Sans Symbols 2', sans-serif;
$coolFont: "Major Mono Display", monospace;

//* Font sizes
$h1: 5rem;
$h2: 4.2rem;
$h3: 3.6rem;
$h4: 2.8rem;
$h5: 2rem;
$h6: 1.8rem;
$p: 1.6rem;

//* Font weights
$thin: 200;
$light: 300;
$regular: 400;
$bold: 700;
$extraBold: 900;

//? Other
$lineHeight: 1.6;
$linkedIn: #0e76a8;
$github: #f0f6fc;
$platzi: #98ca3f;
$twitter: #00acee;
$iconBg: #494949;