//! Change variables to prefered values
//* Colors
$backgroundDark: #111;
$primaryLight: #efffef;
$jsYellow: #ffd43b;
$pyBlue: #4b8bbe;
$csPurple: #9b4993;
$vueGreen: #42b883;

//* Breakpoints
$sm-mobile: 480px;
$mobile: 576px;
$tablet: 768px;
$desktop: 1200px;
$lg-desktop: 1720px;

//* Fonts
$primaryFont: 'Source Code Pro', monospace;
$secondaryFont: 'Ubuntu', sans-serif;
$coolFont: "Major Mono Display", monospace;

//* Font sizes
$h1: 6rem;
$h2: 4.4rem;
$h3: 3.6rem;
$h4: 2.8rem;
$h5: 2rem;
$h6: 1.8rem;
$p: 1.6rem;

//* Font weights
$thin: 200;
$light: 300;
$regular: 400;
$bold: 700;
$extraBold: 900;

//? Other
$lineHeight: 1.6;
$linkedIn: #0e76a8;
$github: #f0f6fc;
$platzi: #98ca3f;
$twitter: #00acee;
$iconBg: #292929;