@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  transition:
    max-width 0.6s ease-in-out,
    margin 0.2s ease-out,
    padding 0.2s ease-out,
    border 0.2s ease-out,
    font-size 0.2s ease-out;
}

*::selection {
  background-color: #f9f9f9;
  color: #000;
}

body {
  font-size: 1.6rem;
  font-family: "FiraCode", "Noto Sans", "sans-serif";
}

img {
  max-width: 100%;
}

#spaceBg {
  &::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    background: radial-gradient(ellipse at left, rgb(0, 19, 20), transparent),
      radial-gradient(ellipse at top, rgb(14, 0, 21), transparent),
      radial-gradient(ellipse at right, rgb(0, 17, 17), transparent),
      radial-gradient(ellipse at bottom, rgb(19, 0, 14), transparent);
    mask-image: linear-gradient(
      -65deg,
      rgba(0, 0, 0, 0) 20%,
      #000,
      rgba(0, 0, 0, 0) 80%
    );
    mask-size: 200%;
    -webkit-mask-image: linear-gradient(
      -65deg,
      rgba(0, 0, 0, 1) 20%,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 1) 80%
    );
    -webkit-mask-size: 200%;
    animation: shine 60s infinite linear;
    z-index: -9;
  }
}

.pixelated-image {
  opacity: 0%;
  position: absolute;
  top: -100%;
  pointer-events: none;
  user-select: none;
}

.console-pane-wrapper {
  @apply bg-[#000000ef] border rounded-sm border-slate-300 flex flex-col flex-grow max-h-full overflow-y-auto hide-scrollbar;
}

.console-pane {
  @apply max-w-full overflow-hidden p-[2ch] py-[1ch];
}

/* Commands wrapping behaviour */
*.command-wrapper > * {
  white-space: pre-wrap;
  text-wrap: nowrap;
}

/* Custom CSS for rectangular caret effect */
p.block-caret > span > div {
  background-color: hsla(1, 1%, 100%, 1);
  color: #000;
  animation: caret 1s ease-in-out infinite;
}

@keyframes caret {
  0% {
    background-color: hsla(1, 1%, 100%, 1);
  }

  50% {
    background-color: hsla(1, 1%, 100%, 0);
  }

  100% {
    background-color: hsla(1, 1%, 100%, 1);
  }
}

/* Input Scrollbar css */
/* In your global CSS or a CSS module */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  scrollbar-width: none;
  /* For Firefox */
  -ms-overflow-style: none;
  /* For Internet Explorer and Edge */
}
