/*-> FiraCode Variable*/
@font-face {
	font-family: "FiraCode";
	src: url("../fonts/fira_code/FiraCode-VariableFont_wght.ttf") format("truetype");
	font-style: normal;
	font-display: swap;
}

/*-> Major Mono Display */
@font-face {
	font-family: "Major Mono Display";
	src: url("../fonts/major_mono_display/MajorMonoDisplay-Regular.ttf") format("truetype");
	font-style: normal;
	font-display: swap;
}